In [1]:
#Nested String
cheeses = ['Cheddar','Edam','Gouda']
numbers = [42,123]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [42, 123] []

In [3]:
cheeses = ['Cheddar','Edam','Gouda']
'Edam' in cheeses

True

In [1]:
#Traverse in List:every number * 2
numbers = [42,123]
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    
numbers

[84, 246]

In [7]:
#Pay attention to the difference from the upper code
numbers = [42,123]
numbers * 2

[42, 123, 42, 123]

In [8]:
#List operations
a = [1,2,3]
b = [4,5,6]
c = a + b
c

[1, 2, 3, 4, 5, 6]

In [12]:
a = [1,2,3,4,5,6]
b = [3,4,5]
a + b

[1, 2, 3, 4, 5, 6, 3, 4, 5]

In [11]:
# t[a:z], a starts from 0, included in calculation. z is not included.
t = ['a','b','c','d','e','f']
print(t[0])
print(t[1:3])
print(t[:4])
print(t[4:])
print(t[:])

a
['b', 'c']
['a', 'b', 'c', 'd']
['e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [13]:
t = ['a','b','c']
t.append('d')
t

['a', 'b', 'c', 'd']

In [18]:
t1 = ['a','b','c']
t2 = ['d','e']
t1.append(t2)
t1

['a', 'b', 'c', ['d', 'e']]

In [19]:
t = ['d','c','e','a','b']
t.sort()
t

['a', 'b', 'c', 'd', 'e']

In [22]:
# Incorrect Code
# Most list methods are void
t = ['d','c','e','a','b']
t = t.sort()
t

In [26]:
# Accumulate
def add_all(t):
    total = 0
    for x in t:
        total += x             # total = total + x
    return total

t = [1,2,3]
add_all(t)

6

In [28]:
# Reduce
t = [1,2,3]
sum(t)

6

In [27]:
# Map
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res
t = ['a', 'b', 'c']
capitalize_all(t)

['A', 'B', 'C']

In [30]:
# Filter
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res

t = ['a','B','c']
only_upper(t)

['B']

In [38]:
# pop: remove certain varialbe
t = ['a','b','c']
x = t.pop(1)
print(x)
print(t)

b
['a', 'c']

In [37]:
# Remove certain variable
t = ['a','b','c']
x = t.remove('b')
print(x)
print(t)

None
['a', 'c']

In [39]:
# Lists and Strings
s = 'spam'
t = list(s)
t

['s', 'p', 'a', 'm']

In [42]:
s = 'ping fo rthe fjords'
t = s.split()
t

['ping', 'fo', 'rthe', 'fjords']

In [43]:
t = ['ping', 'fo', 'rthe', 'fjords']
delimiter = ' '
s = delimiter.join(t)
s

'ping fo rthe fjords'

In [52]:
# Objects - string
a = 'banana'
b = 'banana'
a is b

str

In [51]:
# Objects - list
a = [1,2,3]
b = [1,2,3]
a is b

False

In [53]:
a = [1,2,3]
b = a
b is a

True

In [62]:
# bad_delete_head
def bad_delete_head(t):
    t = t[1:]
    
t = [1,2,3]
bad_delete_head(t)

In [1]:
# Fix upper code
def tail(t):
    return t[1:]
t = [1,2,3]
tail(t)

[2, 3]