In [12]:
# Tuple is a sequence of values
# Pay attention to the difference of string and tuple
t1 = 'a',
t2 = 'a'
t3 = '4'
t4 = 4
print(type(t1), type(t2), type(t3), type(t4))

<class 'tuple'> <class 'str'> <class 'str'> <class 'int'>

In [23]:
t = tuple('helen666')
t

('h', 'e', 'l', 'e', 'n', '6', '6', '6')

In [24]:
# It starts at 0
# 0th, 1st, 2nd, t[:] means all
t[0:3]

('h', 'e', 'l')

In [25]:
t = ('A',) + t[1:]
t

('A', 'e', 'l', 'e', 'n', '6', '6', '6')

In [28]:
(0, 1, 2) <= (0, 1, 2)

True

In [36]:
# pack values
a, b, c = 1 ,2 ,3
a, b, c

(1, 2, 3)

In [33]:
addr = 'helenyi90@gmail.com',
addr

('helenyi90@gmail.com',)

In [47]:
# Awesome Email Splitting Technic $$$$$$$$$$$$
# Can be used for Data Cleaning, eg. De-dup
addr = 'helenyi90@gmail.com'
uname, domain = addr.split('@')
server,append = domain.split('.')
uname, server,append

('helenyi90', 'gmail', 'com')

In [48]:
# Variable-Length Argu Tuples
def printall(*args):
    print(args)
    
printall(1, 2.0, '3')

(1, 2.0, '3')

In [66]:
# divmod takes exactly 3 arguments
# Doesn't work with a tuple
t = (7,3)
divmod(*t)

(2, 1)

In [68]:
# max(2, 3, 4, 5, 6) is fine

sum(1, 2) # int is not iterable
sum(1,2,3) # sum only takes 2 arguments

TypeError: 'int' object is not iterable

In [62]:
# Fix sum function
numbers = [1, 2, 3]
numsum = sum(list(numbers))
print(numsum)

6

In [77]:
# zip takes >=2 sequences and returns a list of tuples
# Every time run it, value is differents
s = 'abc'
t = [0, 1, 2]
zip(s, t)

In [81]:
# Iteration
for pair in zip(s,t):
    print(pair)

('a', 0)
('b', 1)
('c', 2)

In [79]:
list(zip(s,t))

[('a', 0), ('b', 1), ('c', 2)]

In [80]:
list(zip('Anne','0123'))

[('A', '0'), ('n', '1'), ('n', '2'), ('e', '3')]

In [83]:
# Reverse usage of tuples
t =[('A', '0'), ('n', '1'), ('n', '2'), ('e', '3')]
for letter, number in t:
    print(letter,number)

A 0
n 1
n 2
e 3

In [110]:
# If one letter from z1 matches letter in same location from z2

def has_match():
    for x, y in zip(z1,z2):
        if x == y:
            return True
    return False

z1 = 'anne'
z2 = 'eew5'

has_match()

False

In [111]:
#items returns a sequence of tuples
d = {'a':0, 'b':1, 'c':2}
t = d.items()
t

dict_items([('c', 2), ('a', 0), ('b', 1)])

In [113]:
for key, value in d.items():
    print(key, value)

c 2
a 0
b 1

In [2]:
t = [('a',0),('c',2),('b',1)]
d = dict(t)
d

{'a': 0, 'b': 1, 'c': 2}

In [21]:
# Debugging
# Download structshape moduel from 
# http://thinkpython2.com/code/structshape.py
# Store it in localfolder

from structshape import structshape

t = [1, 2, 3]
structshape(t)

'list of 3 int'